@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
    color: #757575;
    line-height: 1.5;
    font-size: 15px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    
}

#info,
#experience,
#education {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 20px;
    border-radius: 5px;
}

/* ------------------------------------------------------------------INFO */

/* ---------------------------------------------------PROFILE */

.rel {
    position: relative;
}
#profile-pic {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -20px;
}

.name {
    position: absolute;
    color: black;
    left: 0;
    bottom: 0;
    font-weight: bold;
}

/* ---------------------------------------------------TITLES */

.b-border {
    border-bottom: solid 1px rgba(0,0,0, .3);
    padding-bottom: 10px;
}

.tjob {
    background: url(img/briefcase-solid.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    display: block;
}

.city {
    background: url(img/home-solid.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    display: block;
}

.mail {
    background: url(img/envelope-solid.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    display: block;
    
    margin-bottom: 10px;
}

.tel {
    background: url(img/phone-solid.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    display: block;
    
    margin-bottom: 10px;
    
}

a {
    text-decoration: none;
    color: #757575;
}

/* ---------------------------------------------------TITLES */

#skills h2 {
    background: url(img/star-of-life-solid.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    display: block;
}

#level1 {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level1 .green {
    position: relative;
    flex: 7;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

.perc {
    position: absolute;
    top: 0;
    left: 50%;
    color: #000;
    font-weight: bold;
}

.perc p {
    margin: 0;
}
#level1 .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#level2 {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level2 .green {
    position: relative;
    flex: 5;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

#level2 .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#level3 {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level3 .green {
    position: relative;
    flex: 4;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

#level3 .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


#level4 {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level4 .green {
    position: relative;
    flex: 3;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

#level4 .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#level1l {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level1l .green {
    position: relative;
    flex: 5;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

#level1l .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#level2l {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level2l .green {
    position: relative;
    flex: 5;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

#level2l .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#level3l {
    display: flex;
    flex-direction: row;
    height: 18px;
}

#level3l .green {
    position: relative;
    flex: 3;
    height: 100%;
    background: #009688;
    border-radius: 25px;
}

#level3l .white {
    background: #f1f1f1e0;
    flex: 1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* ------------------------------------------------------------------WORK EXPERIENCE */

.tjob-2 {
    background: url(img/briefcase-solid.svg);
    background-repeat: no-repeat;
    padding-left: 55px;
    display: block;
}

.time {
    color: #009688;
    background: url(img/calendar-alt-regular.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
    display: block;
}

.time span {
    background: #009688;
    padding: 5px;
    border-radius: 7px;
    color: white;
}

/* ------------------------------------------------------------------EDUCATION */

#education h1 {
    background: url(img/certificate-solid.svg);
    background-repeat: no-repeat;
    padding-left: 55px;
    display: block;
}


/* ------------------------------------------------------------------FOOTER */
footer {
    background: #009688;
    color: #fff;
    text-align: center;
    font-weight: 550;
}

footer p {
    padding: 10px;
    margin-bottom: 0;

}/* ------------------------------------------------------------------MEDIA QUERIES */


@media (min-width:600px) {

    #container {
        flex-direction: row;
        width: 75%;
    }

    #info {
        flex: 1;
    }

    #right-col {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex: 2;
    }
}
